<h1>Listing sudokus</h1>

<table>
  <tr>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @sudoku_topics.each do |sudoku_topic| %>
  <tr>
      <td><%= sudoku_topic.id %></td>
    <td><%= sudoku_topic.topic %></td>
  
  </tr> 
  
  <tr>
    <td><%= link_to 'Show', sudoku_topic %></td>
    <td><%= link_to 'Edit', edit_sudoku_topic_path(sudoku_topic) %></td>
    <td><%= link_to 'Destroy', sudoku_topic, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Sudoku', new_sudoku_path %>