<%= form_for(@post) do |f| %>
  <% if @post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% @post.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :body %><br />
    <%= f.text_area :body %>
  </div>
  <div class="field">
    <%= f.label :published %><br />
    <%= f.check_box :published %>
  </div>

<%for i in 1..9%>
  <%for i2 in 1..9%>

              <%# mystring =i.to_s+","+i2.to_s %>
             <%=text_field_tag (i.to_s+","+i2.to_s) %>
           
<%
    end
 end
%>


<% @sudoku_collection.all.each do |post| %>
  puts "Post:            " + post.title
  puts "Written by:      " + post.author.name
  puts "Last comment on: " + post.comments.first.created_on

  <%
end
%>
  

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>